.sectionContent {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  background-color: $base-light;
  .formLine {
    display: flex;
    color: #888;
    margin: 0.5rem;
    .formLineTitle {
      font-weight: 600;
    }
    .formLineInput {
      outline: none;
      border: solid light-$base-dark 2px;
      padding-left: 0.5rem;
    }
    .formLineInput:focus {
      border: solid $link-color 2px;
    }
  }
}


// # Phone
@media only screen and (max-width:320px) {
  .sectionContent {  
    justify-content: space-around;
  }
}

// # Tablet
@media only screen and (min-width:321px) and (max-width:768px) {
  .sectionContent {  
    justify-content: space-around;
  }
}

// # Desktop
@media only screen and (min-width:769px) {
  .formLine {
    .formLineTitle {
      width: 200px;
    }
  }
}