$base-color: lightgrey;
$link-color: #0070c9;
$bright: #fff;
$base-dark: grey;
$base-darker: black;
$base-light: #eee;

// stop word wrap
@mixin wordWrap {
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* Chrome */
  word-wrap: break-word; /* IE */
}