$base-color: lightgrey;
$link-color: #0070c9;

// stop word wrap
@mixin wordWrap {
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: pre-wrap; /* Chrome */
  word-wrap: break-word; /* IE */
}