.paymentForm {
  text-align: left;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 700;
    color: #444;
  }

  .sectionContent {  
    .formLine {
      display: flex;
      color: #888;
      .formLineTitle {
        font-weight: 600;
      }
      .formLineInput {
        outline: none;
        border: solid light-grey 2px;
        padding-left: 0.5rem;
      }
      .formLineInput:focus {
        border: solid $link-color 2px;
      }
    }
  }

  .formSubmit {
    background-color: $base-color;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    margin: 20px;
    border: 0px solid white;
    color: $link-color;
    align-self: flex-end;
    
  }

  .formSubmit:hover {
    cursor: pointer;
    border: 2px solid $link-color;
    border-radius: 0.3rem;
    background-color: grey;
    color: white;
    font-weight: 600;
  }

}

// # Phone
@media only screen and (max-width:320px) {
  .paymentForm > .sectionTitle {
    font-size: 1.5rem;
  }
  .sectionContent > .formLine > .formLineTitle {
    width: 150px;
  }
}

// # Tablet
@media only screen and (min-width:321px) and (max-width:768px) {
  .paymentForm > .sectionTitle {
    font-size: 1.2rem;
  }
  .sectionContent > .formLine > .formLineTitle {
    width: 320px;
  }
}

// # Desktop
@media only screen and (min-width:769px) {
  .paymentForm > .sectionTitle {
    font-size: 1rem;
  }
  .sectionContent > .formLine > .formLineTitle {
    width: 250px;
  }
}