.paymentForm {
  text-align: left;
  display: flex;
  flex-direction: column;

  .sectionTitle {
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 700;
    color: #444;
  }

  .invoice {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: $base-dark;
    border-bottom: 1px solid $base-color;

    .invoiceItem {
      display: flex;
      justify-content: space-between;
      padding: 0.3rem;

      .costType {
        font-weight: 600;
        margin-left: 0rem;
      }
    }

    .invoiceItem.total {
      font-size: 120%;
    }
  }

  .formSubmit {
    background-color: $base-color;
    border-radius: 0.3rem;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    margin: 20px;
    border: 0px solid $bright;
    color: $link-color;
    align-self: flex-end;
  }

  .formSubmit:hover {
    cursor: pointer;
    border: 2px solid $link-color;
    color: $bright;
    font-weight: 600;
  }

  .sectionContent > .formLine > .formLineTitle {
    margin-right: 1rem;
  }
}

// # Phone
@media only screen and (max-width:320px) {
  .paymentForm > .sectionTitle {
    font-size: 1.2rem;
  }
}

// # Tablet
@media only screen and (min-width:321px) and (max-width:768px) {
  .paymentForm > .sectionTitle {
    font-size: 1.1rem;
  }
}

// # Desktop
@media only screen and (min-width:769px) {
  .paymentForm > .sectionTitle {
    font-size: 1rem;
  }
  .paymentForm .invoice .invoiceItem .costType {
    margin-left: 6.5rem;
  }
}