.formSection {
  width: 100%;
  color: $base-dark;
  border-bottom: 1px $base-color solid;

  .formSectionTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    .formSectionLeft {
      display: inherit;
      .formSectionTitle {
        width: 5rem;
        font-weight: 800;
        margin-right: 1rem;
      }  
    }
  
    .formDetail {
      color: $link-color;
      font-weight: 800;
      align-self: flex-end;
      .cheveron {
        fill: $link-color;
      }
    }

    .formDetail.open {
      transform: rotate(90deg);
    }
  }

  .formSectionLines {
    .line1,
    .line2 {
      @include wordWrap;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}


// # Phone
@media only screen and (max-width:320px) {
  .formSection {
    font-size: 1.2rem;
  }
  .formSection .formSectionTop .formSectionLeft {
    flex-direction: column;
  }
}

// # Tablet
@media only screen and (min-width:321px) and (max-width:768px) {
  .formSection {
    font-size: 1.1rem;
  }
  .formSection .formSectionTop .formSectionLeft {
    flex-direction: column;
  }
}

// # Desktop
@media only screen and (min-width:769px) {
  .formSection {
    font-size: 1rem;
  }
}